:root {
    --text-black: #000000;
    --text-gray: #909090;
    --icon-color: #212529;
    --size-blog: 30px;
    --bg--white: #fbf3f0;
    --bg--red: #f42821;
    --color--green: #28af5b;
    --color-gray-100: #e2dede95;
    --yell: rgb(247, 203, 45);
    --blue: 
}

hr{
    border:  1px solid var(--color-gray-100);
}

* {
    box-sizing: inherit;
    padding: none;
    margin: none;
}

hr {
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
    /* font-family: "Roboto", sans-serif; */
    /* display: flex;
        flex-direction: column; */
}

/* main {
    flex: 1;
} */

.alter-danger{
    color: var(--bg--red);
}
.alter-success{
    color: var(--color--green);
}

.pt-1{
    padding-top: 20px;
}
.pt-6 {
    padding-top: 100px;
}
.pb-7 {
    padding-bottom: 120px;
}
.pb-6 {
    padding-bottom: 100px;
}

.container {
    margin: 0 120px;
}
.container-lg{
    margin: 0 50px;
}

.btn{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: none;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
}

.btn--danger{
    background-color: #f42821;
    /* border: none;  */
}
.text-align-center {
    text-align: center;

}

.justify-content-center {
    justify-content: center;
}

.text-decoration-none {
    text-decoration: none;
}

.pt-3 {
    padding-top: 30px;
}

.pt-5 {
    padding-top: 50px;
}

.pb-5 {
    padding-bottom: 50px;
}

.pb-4 {
    padding-bottom: 40px;
}
.pd-header {
    padding-top: 120px;
    width: 100%;
}
.route-link{
    text-decoration: none;
    color: var(--text-black);
}

.table {
    width: 100%;
    background-color: none;
    border-collapse: collapse;
}

@media (min-width: 769px) and (max-width: 1023px) {
    .slider {
        padding-top: 150px;
        z-index: 1;
        height: 80vh;
        width: auto;
        position: relative;
    }

    .banner {
        display: flex;
        flex-wrap: 15px;
    }

    .banner__content {
        flex: 1;
    }

    .banner__banner-list {
        padding: 0;
        margin: 0;
    }

    .banner__banner-item p {
        padding: 0;
        margin: 10px 0;
        font-size: 14px;
    }

    .banner__image {
        flex: 1;
    }



    /* product  */

    .filter {
        display: grid;
        row-gap: 56px;
        padding: 0 20%;

    }

    .filter__category {
        width: 100%;
    }

    .blog__item {
        width: calc(33.3vw - 20px);
    }

    .blog__direction {
        display: none;
    }

    .footer {
        display: flex;
    }

    .blog__img {
        width: 250px;
        height: 250px;
    }

}

/* taplet  */

/* mobile  */
@media (min-width:426px) and (max-width: 768px) {



    /* slider  */

    .slider {
        padding-top: 200px;
        z-index: 1;
        height: 80vh;
        width: auto;
        position: relative;
        width: auto;
    }

    .thumbnail {
        justify-content: start;
    }

    .slider .list .item .content h2 {
        font-size: 20px;
    }

    .arrows {
        top: 20%;
    }


    .banner {
        display: flex;
        flex-direction: row;
    }

    .row ul {
        padding: 0;
    }

    .filter {
        display: grid;
        row-gap: 56px;
        padding: 0 10%;
    }

    .blog__item {
        width: calc(50vw - 20px);
    }

    .blog__direction {
        display: none;
    }

    .pt-6 {
        padding-top: 60px;
    }

    .card {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }

    .card__data {
        width: 120px;
        height: 80px;
    }


    .blog__img {
        width: 220px;
        height: 220px;
    }

    .slider {
        width: 100%;
        padding-top: 220px;
    }



}

@media (max-width: 426px) {

    .slider {
        padding-top: 500px;
    }

    .banner {
        display: flex;
        flex-direction: column;
    }

    .font-size {
        font-size: 25px;
    }

    .filter__category-item {
        font-size: 13px;
    }


    .card__container {
        margin-inline: 16px;
    }

    .card {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 24px;
    }

    .card__sale {
        font-size: 10px;
        border-radius: 20px;
        padding: 8px;
    }

    .card__data {
        width: 95px;
        padding: 16px;
    }

    .card__data h2 {
        font-size: 10px;
    }

    .card__data span {
        display: none;
    }

    .blog__img {
        max-width: 250px;
        max-height: 250px;
    }

    .card__content p:nth-child(3) {
        display: none;
    }

    .blog__item {
        max-width: 250px;
        max-height: 350px;
    }

}


/* For medium devices */
@media screen and (min-width: 768px) {
    .card {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .card__container {
        height: 100vh;
    }

    .card {
        grid-template-columns: repeat(4, 1fr);
    }

    .card__img {
        width: 100%;
    }

    .card__data {
        width: 180px;
        padding-inline: 40px;

    }

}
