*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.slide {
    position: relative;
    /* display: flex; */
    width: 100%;
    max-height: 700px;

}

.slide-img img {
    width: 100%;
    max-height: 700px;

}

.slide-data {
    max-width: 50%;
    position: absolute;
    right: 0;
    align-items: center;
}

.slide-data h4 {
    font-size: 20px;
    padding: 20px 0;
    font-family: 'Courier New', Courier, monospace;
}

.slide-data h1 {
    font-size: 70px;
    font-family: "Roboto", sans-serif;
}

.slide-data p {
    padding: 20px 0 30px 0;
}

.slide-data a {
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    background-color: none;
    color: var(--icon-color);
    padding: 10px 50px;
    font-size: 20px;
}

.slide-data a:hover {
    border: none;
    color: white;
    background-color: var(--bg--red);
}

.slide-next,
.slide-prev {
    font-size: 40px;
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.slide-next {
    left: 30px;
}

.slide-prev {
    right: 30px;
}

.slide-button {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 47%;
}

.slide-button-list {
    display: flex;
    list-style: none;
    align-items: center;
    border: 2px solid var(--bg--red);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0 5px;
}

.slide-button-list button:active {
    min-width: 10px;
    min-height: 10px;
    background-color: var(--bg--red);
    border: none;
    border-radius: 50%;
    border: 1px solid var(--bg--red);
}

.brand {
    position: relative;
}

.container-brand {
    padding: 70px 100px;
}

.brand-list {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.brand-item {
    list-style: none;
    text-decoration: none;
    align-items: center;
}

.brand-item-a {
    margin: 0 5px;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.brand-item-a img {
    border: 1px solid rgba(142, 142, 142, 0.21);
    width: 100%;
    transition: opacity .3s ease;
}

.brand-item-a img:hover {
    opacity: 0.5;
}

.product-v2 {
    padding: 20px 0 50px 0;
}

.category_v2 {
    display: grid;
    justify-content: center;
}

.category_v2-list {
    display: flex;
    min-width: 40%;
    align-items: center;
    justify-content: space-between;
}

.category_v2-item {
    list-style: none;
    cursor: pointer;
}

.category_v2-item a {
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
}

.category_v2-a {
    position: relative;
    color: black;
    padding: 0 30px 20px 30px;
}

.category_v2-a::after {
    position: absolute;
    content: '';
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--bg--red);
    color: var(--bg--red);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.category_v2-item:hover .category_v2-a::after {
    color: var(--bg--red);
    transform: scaleX(1);
    transform-origin: bottom left;
}

.product-v2-feature {
    padding: 20px !important;
    min-width: 200px;
}

.newsletter {
    background-color: #e8e6d8;
    min-height: 300px;
    /* position: relative; */
    text-align: center;
    display: grid;

}

.newsletter-text {
    padding-top: 50px;
    text-align: center;

}

.newsletter-text p {
    padding-top: 10px;
    color: var(--text-gray);
}

.newsletter-text h1,
.newsletter-text p {
    font-family: "Roboto", sans-serif;
}

.newsletter-input {
    padding: 50px 15%;
    display: flex;
    width: 100%;
    justify-content: center;
}

.newsletter-input input {
    height: 40px;
    width: 80%;
    margin-right: 20px;
    outline-style: none;
}

.newsletter-input button {
    padding: 0 5px;
    cursor: pointer;
}

.newsletter-input input,
.newsletter-input button {
    border: none;
    padding: 5px;
    border-bottom: 1px solid black;
    background-color: #e8e6d8;
    text-transform: capitalize;
}

.newsletter-input button:hover {
    border-bottom: 1px solid var(--bg--red);
    color: var(--bg--red);
}

.product__v2-card {
    display: grid;
}

@media screen and (min-width:1024px) {
    .slide-data {
        max-height: 500px;
        top: 0px;
    }

    .slide-data h1 {
        margin: 10px 0;
    }
}

@media (min-width:769px) and (max-width:1023px) {

    .slide-data {
        position: absolute;
        top: 10%;
        min-width: 450px;
    }

    .slide-img {
        overflow: hidden;
    }

    .slide-img img {
        width: 100%;
        height: 100%;
        transform-origin: center;
        transform: scaleX(1.3);
        opacity: .8;
        display: block;
    }

    .slide-data h1 {
        font-size: 50px;
    }

    .product-v2-feature {
        max-width: 50px !important;
    }

    .brand-item {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
    }
}

@media screen and (max-width:768px) {
    .slide-data {
        position: absolute;
        top: 10%;
        min-width: 70%;
    }

    .slide-data h1 {
        font-size: 50px;
    }

    .slide-img img {
        transform-origin: center;
        transform: scaleX(1.6);
        min-height: 400px;
    }

    .slide-data a {
        padding: 5px 30px;
    }

    .container-brand {
        padding: 50px 20px;

    }

    .slide-next,
    .slide-prev {
        font-size: 20px;
    }

}

@media screen and (max-width:500px) {
    .slide-data h4 {
        font-size: 15px;
    }

    .slide-data h1 {
        font-size: 36px;
    }

    .slide-data p {
        padding: 10px 0;
    }

    .slide-img img {
        min-height: 300px;
    }

    .container-brand {
        padding: 50px 20px;

    }

    .brand-list {
        display: flex;
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (max-width:320px) {
    .slide-data h4 {
        font-size: 15px;
    }

    .slide-data h1 {
        font-size: 30px;
    }

    .slide-data p {
        padding: 10px 0 20px 0;
    }

    .slide-img img {
        min-height: 300px;
    }

    .category_v2-item a {
        text-align: center;
        padding-top: 0;
        font-size: 10px;
    }

    .newsletter-text h1 {
        font-size: 30px;
    }

    .newsletter-input p {
        font-size: px;
    }

    .newsletter-input {
        display: flex;
        align-items: center;
        padding: 50px 0;
    }

    .container-brand {
        padding: 50px 20px;
    }

    .brand-list {
        width: 100%;
        display: grid;
        gap: 20px;
        justify-content: space-around;
    }
}



/* --------------------reset password ------------------------ */
.reset{
    position: relative;
}
.wrrap{
    background-color: rgba(152, 152, 152, 0.063);
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.account{
    position: absolute;
    top: 0;
    z-index: 1000;
}
.poup{
    z-index: 1000;
    width: 400px;
    height: 700px;
    background-color: black;
}

/* -----------------------checkout ---------------------- */
.checkout {
    display: flex;
    gap: 50px;
}
.checkout_contact{
    flex: 3;
}
.checkout_product{
    flex: 2;
}
.checkout-input{
    display: flex;
    gap: 50px;
}

.checkout-alter{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.group-check {
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    margin: 20px 0 5px 0;
}
.group-mail{
    margin: 0px!important;
}

.check-mail {
    display: grid;
    gap: 5px;
    margin-bottom: 30px;
}

/* Input field */
.field-checkout {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}

/* Input label */
.label-checkout {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--yell);
    transition: all 0.3s ease;
}

/* Input field:focus styles */
.field-checkout:focus+.label-checkout {
    top: -20px;
    font-size: 12px;
    color: var(--yell);
}

.field-checkout:focus+.label-checkout+.input-highlight {
    width: 100%;
}

.email-checkbox{
    position: relative;
    display: inline-block;
}
.email-checkbox > input{
    appearance: none;
    -moz-appearance: none;
    /* -webkit-appearance: none; */
    /* z-index: -1; */
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    width: 15px;
    /* height: 20px; */
    background-color: red;
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opaction .03, transform .2s;
}
.email-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
.email-checkbox span::before{
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    width: 15px;
    height: 15px;
    vertical-align: top;
    transition: border-color 0.2s,
        background-color 0.2s;
}
.email-checkbox span::after{
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    width: 9px;
    height: 4px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}
.email-checkbox >input:checked,
.email-checkbox > input:indeterminate {
    background-color: var(--yell);
}

.email-checkbox > input:checked + span::before,
.email-checkbox > input:indeterminate + span::before{
    /* border-color: var(--yell); */
    border: none;
    background-color: var(--yell);
}
.email-checkbox > input:checked + span::after,
.email-checkbox > input:indeterminate + span::after {
    border-color: black;
}
.email-checkbox > input:indeterminate + span::after{
    border-left: none;
    transform: translate(4px,3px);
}

.email-checkbox:hover >input {
    opacity: 0.04;
}
.email-checkbox > input:focus{
    opacity: .12;
}
.email-checkbox:hover > input:focus{
    opacity: .16;
}
.email-checkbox > input:active{
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}
.email-checkbox > input:active + span::before{
    border-color: #85b8b7;
}
.email-checkbox > input:checked:active + span::before{
    border-color: transparent;
    background-color: rgba(0, green, blue, alpha);
}
.checkout-item{
    display: flex;
    align-items: center;
    /* width: 400px; */
}
.item_image{
    flex: 1;
}
.item_image img{
    border: 1px solid var(--text-gray);
    border-radius: 10%;
}
.item_title{
    flex: 5;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}
.item_title span{
    color: var(--bg--red);
}
.checktotal{
    padding-top: 20px;
}
.total-item{
    padding-bottom: 10px !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.total strong{
    color: var(--bg--red);
}

.total-clear{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.radio-container {
    margin: 0 auto;
    max-width: 300px;
    color: white;
}


.radio-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.radio-button:hover {
    transform: translateY(-2px);
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-checkmark {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border: 2px solid var(--yell);
    border-radius: 50%;
}

.radio-checkmark:before {
    content: "";
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--yell);
    transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked~.radio-checkmark:before {
    transform: translate(-50%, -50%) scale(1);
}

.payments {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #77530a, #ffd277, #77530a, #77530a, #ffd277, #77530a);
    background-size: 250%;
    background-position: left;
    color: var(--yell);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
}

.payments::before {
    position: absolute;
    content: "PAYMENT";
    color: var(--yell);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: var(--bg--white);
    background-size: 200%;
}

.payments:hover {
    background-position: right;
    transition-duration: 1s;
}

.payments:hover::before {
    background-position: right;
    transition-duration: 1s;
}

.payments:active {
    transform: scale(0.95);
}
.with{
    width: 700px;
    gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0 10px 0;
    gap: 20px;
}

.facebook, .google {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submit-login{
    padding: 10px 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
}

.submit-login:hover{
    background-color: var(--text-gray);
    color: var(--bg--white);
    outline: invert;
}

.submit-login p{
    font-size: 15px;
}
